.timer {
  width: 300px;
  height: 300px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer__progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.timer__timeleft {
  font-size: 20pt;
}

.timer__modetext {
  font-size: 20pt;
}

.timer__modetext--workSession {
  color: var(--color-worksession);
}

.timer__modetext--shortBreak {
  color: var(--color-shortbreak);
}

.timer__modetext--longBreak {
  color: var(--color-longbreak);
}
